@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap');

:root {
    --bg: #262626;
    --bg2: #0D0D0D;
    --gray: #F2EFE9;
}
body {
    margin: 0;
    padding: 0;	
	color: var(--gray);
    min-height: 100vh;
	font-family: 'Noto Sans JP', sans-serif;
    background: radial-gradient(ellipse at top, var(--bg) 0%, var(--bg2) 100%);
}
.bone {
	width: 100vw;
	height: auto;
}
.about {
	text-align: center;
}
.about img {
	margin: 30px 0px 0px 0px;
	max-width: 400px;
	width: 50%;
	height: 50%;
/*    height: auto;*/
}
.about p {
	font-size: 2.2em;
}
.adobe_icon {
	height: 20px;
	color: var(--gray);
}
.links_block {
	max-width: 750px;
    margin: 20px auto;
}
.link {
	margin: 10px;
    padding: 10px;
	font-size: 1.7em;
    color: var(--gray);
    border: solid var(--gray) 2px;
    border-radius: 25px;
    text-align: center;
	vertical-align: middle;
    display: block;
    text-decoration: none;
}
@media (max-width: 1025px) {
	.about p {
		font-size: 3em;
	}
	.links_block {
		max-width: 90%;
		margin: 20px auto;
	}
	.link {
		padding: 20px;
		margin: 20px;
		font-size: 2.4em;
	    border-radius: 50px;
	    border: solid var(--gray) 3px;
	}	
	.adobe_ad a img {
		width: 90%;
	}
}
@media (max-width: 700px) {
	.about p {
		font-size: 3em;
	}
	.links_block {
		width: 95%;
	}
	.link {
		padding: 10px;
		margin: 10px 0;
		font-size: 2.4em;
	    border-radius: 20px;
	    border: solid var(--gray) 3px;
	}
}
.mr {
	margin-right: 8px;
}
.adobe_ad {
	margin: 40px 20px 80px;
	text-align: center;
}
@media (hover: hover) {
    .link:hover {
        color: var(--bg);
        background-color: var(--gray);
    }
}
.link:active {
    color: var(--bg);
    background-color: var(--gray);
}